@{
    Layout = "_Layout_Pay";
}
<section class="content-header">
    <div class="row">
        <h1>เปลี่ยนรหัสผ่าน</h1>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info box-solid">
                <div class="box-body">
                    @{ Html.BeginForm("change","Setting",FormMethod.Post);}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-2">
                                รหัสผ่านเดิม <span class="text-red">*</span>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("pw_old", "", new { @class = "form-control", @type = "password", @maxlength="8" })
                            </div>
                            <div class="col-md-2 ck_old">
                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-2">
                                รหัสผ่านใหม่ <span class="text-red">* 8 ตัวอักษร</span>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("pw_new", "", new { @class = "form-control", @type = "password", @maxlength = "8" })
                            </div>
                            <div class="col-md-2 ck_new">
                               
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-2">
                                ยืนยันรหัสผ่านใหม่ อีกครั้ง <span class="text-red">*</span>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("pw_confirm", "", new { @class = "form-control", @type = "password", @maxlength = "8" })
                            </div>
                            <div class="col-md-2 ck_cf">
                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a class="btn btn-default" asp-controller="Pay" asp-action="Index">ยกเลิก</a>
                                <button type="submit" class="btn btn-primary submit" disabled="disabled"><i class="fa fa-save"></i>บันทึกข้อมูล</button>
                            </div> 
                        </div>
                    </div>
                    @{ Html.EndForm();}
                </div>
            </div>
        </div>
    </div>
</section>
<input id="status" name="status" value="@ViewData["status"]" type="hidden"/>
<script src="~/lib/jquery/dist/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {

        var txt = $('#status').val();

        if (txt == "T") {

            swal({
                title: "ทำรายการสำเร็จ",
                text: "เปลี่ยนรหัสผ่านเรียบร้อยแล้ว!",
                type: "success",
                showCancelButton: false,
                confirmButtonClass: "btn btn-success",
                confirmButtonText: "ตกลง",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    window.location.assign("../../Pay/Index")
                }  
            });
        }

    })
</script>
<script>
    var ck_tf = "";

    $(document).on('keyup', '#pw_old', function () {


        var ck_old = $('#pw_old').val().length;
        var ck_new = $('#pw_new').val().length;
        var ck_cf = $('#pw_confirm').val().length;
        var cf_txt = $('#pw_confirm').val();
        var new_txt = $('#pw_new').val();
        var old_txt = $('#pw_old').val();
      

        if (ck_old == 8) {
             
         
            $.post('../../Setting/gdata', { q: old_txt })
            .done(function (data) {

              //  alert(data);
                if (data != "0") {

                    ck_tf = "T";

                    $('.ck_old').html('');
                    $('.ck_old').html('<i class="fa fa-check-circle-o fa-10x fa-lg text-green"></i>');

                } else {


                    $('.ck_old').html('');
                    $('.ck_old').html('<i class="fa fa-remove fa-10x fa-lg text-red"></i> รหัสผ่านเดิมไม่ถูกต้อง');
                }
                
            })



            if (ck_old == 8 && ck_tf == "T" && ck_new == 8 && ck_cf == 8 && cf_txt == new_txt) {

                $('.submit').removeAttr('disabled');

            }


        } else if (ck_old < 8) {

            $('.ck_old').html('');
            $('.ck_old').html('<i class="fa fa-remove fa-10x fa-lg text-red"></i> กรอกข้อมูลให้ถูกต้อง');

            $(".submit").attr("disabled", true); 
        }

    })
</script>
<script>
    $(document).on('keyup', '#pw_new,#pw_confirm', function () {


        var ck_old = $('#pw_old').val().length;
        var ck_new = $('#pw_new').val().length;
        var ck_cf = $('#pw_confirm').val().length;
        var cf_txt = $('#pw_confirm').val();
        var new_txt = $('#pw_new').val();

        if (ck_new == 8) {

            if (ck_cf > 0) {

                if (ck_cf == 8) {

                    if (cf_txt == new_txt) {

                        $('.ck_cf').html('');
                        $('.ck_cf').html('<i class="fa fa-check-circle-o fa-10x fa-lg text-green"></i> รหัสผ่านตรงกัน');

                        if (ck_old == 8 && ck_tf == "T" && ck_new == 8 && ck_cf == 8 && cf_txt == new_txt) {

                            $('.submit').removeAttr('disabled');

                        }



                    } else if (cf_txt != new_txt) {

                        $('.ck_cf').html('');
                        $('.ck_cf').html('<i class="fa fa-remove fa-10x fa-lg text-red"></i> รหัสผ่านไม่ต้องกัน');


                        $(".submit").attr("disabled", true);
                    }


                } else if (ck_cf < 8) {

                    $('.ck_cf').html('');
                    $('.ck_cf').html('<i class="fa fa-remove fa-10x fa-lg text-red"></i> กรอกข้อมูลให้ถูกต้อง');


                    $(".submit").attr("disabled", true);
                }


            } else {


                $('.ck_cf').html('');
                $(".submit").attr("disabled", true);
            }

            $('.ck_new').html('');
            $('.ck_new').html('<i class="fa fa-check-circle-o fa-10x fa-lg text-green"></i>');

        } else if (ck_new < 8) {

            $('.ck_new').html('');
            $('.ck_new').html('<i class="fa fa-remove fa-10x fa-lg text-red"></i> กรอกข้อมูลให้ถูกต้อง');


            $(".submit").attr("disabled", true);

        }

    })
</script>

